text-align: center;
}

/* Style des champs de saisie */
input[type="text"] {
padding: 12px 20px;
font-size: 18px;
border: 1px solid #ccc;
width: 60%;
margin-right: 10px;
border-radius: 999px;
}

/* Style des boutons de recherche */
input[type="submit"] {
padding: 12px 20px;
background-color: #F8F9FA;
color: #202124;
border: 1px solid #ccc;
font-size: 18px;
cursor: pointer;
margin: 10px;
border-radius: 999px;
}

/* Style des titres */
h2 {
text-align: center;
font-family: "Courier New", courier, monospace;
color: DodgerBlue;
}

/* Style des liens */
a {
color: blue;
text-decoration: none;
}
